
:root {
--white: hsl(0, 0%, 100%);
--light-gray: hsl(212, 45%, 89%);
--grayish-blue: hsl(220, 15%, 55%);
--dark-blue: hsl(218, 44%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
	background: var(--light-gray)
}

h1, p {
	font-family: 'Outfit', sans-serif;
	line-height: 1.2;
}

p {
	font-size: 15px;
	color: var(--grayish-blue);
}

img {
	width: 400px;
	padding: 20px;
	border-radius: 40px;
}

.frame {
	background: var(--white);
	padding-bottom: 20px;
	color: black;
	text-align: center;
	width: 400px;
	height: 600px;
	border-radius: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


